/*Generales*/
:root {
  --white: #FFFFFF;
  --blank: #000000;
  --purple: #712cb3;
  --gray-light: #777777;
  --blue: #4511d3;
  --green-light:#e3f1ef;
  --blue-back: #509fc9;
  --pink-back:#e83b59;
  --sm: 14px;
  --md: 16px;
  --lg: 18px: 
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.inactive {
  display: none;
}

/*Navbar (general)*/
nav{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-light);
  padding: 0 24px;
}
.menu {
  display: none;
}
.logo {
  width: 45px;
}
.navbar-left ul, .navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar-left {
  display: flex;
}
.navbar-left ul {
  margin-left: 12px;
}
.navbar-left ul li a, .navbar-right ul li a {
  text-decoration: none;
  color: var(--gray-light);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}
.navbar-left ul li a:hover, .navbar-right ul li a:hover {
  border: 1px solid var(--purple);
  color: var(--purple);
}
.navbar-email {
  color: var(--gray-light);
  cursor: pointer;
  font-size: var(--sm);
  margin-right: 12px;
}
.navbar-shopping-cart {
  position: relative;
}
.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: var(--green-light);
  border-radius: 50%;
  font-size: var(--sm);
  font-size: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Desktop Menu*/
.desktop-menu {
  position: absolute;
  top: 60px;
  right: 60px;
  background: var(--white);
  width: 100px;
  height: auto;
  border: 1px solid var(--gray-light);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
}
.desktop-menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.desktop-menu li {
  text-align: end;
  font-weight: bold;
}
.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--gray-light);
}
.desktop-menu ul li:last-child a {
  color: var(--purple);
  font-size: var(--sm);
}
.desktop-menu ul li a {
  color: var(--blank);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

/*Mobile Menu*/

.mobile-menu {
  background: var(--white);
  position: absolute;
  top: 62px;
  padding: 24px;
}
.mobile-menu a {
  text-decoration: none;
  color: var(--blank);
  font-weight: bold;
}
.mobile-menu ul {
  margin: 24px 0 0 0;
  padding: 0px;
  list-style: none;
}
.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--gray-light);
}
.mobile-menu ul:last-child { 
  position: absolute; 
}
.mobile-menu ul li{
  margin-bottom: 24px;
}
.mobile-menu .email {
  font-size: var(--sm);
  font-weight: 300;
}
.mobile-menu .sign-out {
  font-size: var(--sm);
  color: var(--purple);
}

/* Product detail cart shopping*/

.product-detail {
  background: var(--white);
  width: 360px;
  padding: 0 24px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}
.title-container {
  display: flex;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
 }
.title {
  font-size: var(--lg);
  font-weight: bold;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--green-light);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.shopping-card {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.shopping-card figure {
  margin: 0;
}
.shopping-card figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.shopping-card p:nth-child(2) {
  color: var(--gray-light);
}
.shopping-card p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}
.primary-button {
width: 100%;
height: 50px;
cursor: pointer;
background-color: var(--blue);
border: none;
border-radius: 8px;
color: var(--white);
font-size: var(--md);
font-weight: bold;
}

/* Product List*/
.cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
  margin-top: 20px;
}
.product-card{
  width: 240px;
}
.product-card img{
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.product-info figure {
  margin: 0;
}
.product-info figure img{
  width: 35px;
  height: 35px;
}
.product-info div p:nth-child(1){
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0px;
  margin-bottom: 4px;
}
.product-info div p:nth-child(2){
  font-weight: bold;
  font-size: var(--sm);
  color: var(--gray-light);
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 640px){
  .menu{
    display: block;
  }
  .navbar-left ul {
    display: none;
  }
  .navbar-email {
    display: none;
  }
  .desktop-menu {
    display: none;
  }
  .product-detail {
    width: 100%;
  }
  .cards-container{
    grid-template-columns: repeat(auto-fill, 140px);
    gap: 26px;
  }
  .product-card{
    width: 140px;
  }
  .product-card img{
    width: 140px;
    height: 140px;
  }
}

@media (min-width: 651px){
  .mobile-menu {
    display: none;
  }
}
